{% extends 'comdas/company_dashboard.html' %}

{% load static %}

{%  block content %}

<div class="pagetitle">
    <h1>Manage Applications</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/companydashboard/">Home</a></li>
            <li class="breadcrumb-item active">Manage Applications</li>
        </ol>
    </nav>
</div>

<div class="col-lg">

    <!-- Events Posted -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <h5 class="card-title">Manage <span>| Events</span></h5>
                <table class="table table-borderless datatable">
                    <thead>
                    <tr>
                        <th scope="col">Workhand Fullname</th>
                        <th scope="col">Username</th>
                        <th scope="col">Event Details</th>
                        <th scope="col">City/State</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for app in app %}
                    <tr>
                        <td>{{app.workhand.user.first_name}} {{app.workhand.user.last_name}}</td>
                        <td style="text-transform:capitalize;">{{app.workhand.user.username}}</td>
                        <td>{{app.event.event_name}}</td>
                        <td>{{app.event.city}}, {{app.event.state}}</td>
                        <td>
                            {% if app.status == False %}
                            <a href="/approveapp/{{app.id}}/" class="btn btn-success btn-lg px-4">
                                <i class="bi bi-check2-circle text-light"></i>
                            </a>
                            <a href="/rejectapp/{{app.id}}/" class="btn btn-danger btn-lg">
                                <i class="bi bi-x-circle text-light"></i>
                            </a>

                            {% else %}
                            <a href="/workhanddetails/{{app.workhand.id}}/" class="btn btn-primary btn-lg text-light">
                                View detail
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Events Posted -->

</div>

{% endblock %}