<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'bootstrapcss/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'logincss/style.css' %}">
</head>
<body style="background-image: url('{% static 'assets/img/hero-bg.jpg' %}')" class="text-dark bg-dark">

{% include 'partials/messages.html' %}

<div class="container w-50">
    <div class="forms">
        <div class="form login">
            <span class="title">Forgot Password</span>

            <form action="{% url 'companyforget' %}" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <input type="email" placeholder="Enter your email" name="email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Enter college name you graduated from!" name="security" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password" placeholder="Enter your new password" name="password" required>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Reset Password">
                </div>
            </form>

            <div class="login-signup">
                    <span class="text">Already a User?
                        <a href="{% url 'companylogin' %}" class="text">Login</a>
                    </span>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'logincss/script.js' %}"></script>
</body>
</html>