{% extends 'comdas/company_dashboard.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Feedback</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'companydashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'companyeventhistory' %}">History</a></li>
            <li class="breadcrumb-item active">Feedback</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

{% include 'partials/messages.html' %}

<div class="col-lg">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Give Feedback</h5>

            <!-- Feedback Form  -->
            <form action="{% url 'companyfeedback' id %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="feedback_title" class="col-12 col-md-2 col-form-label">Feedback Title</label>
                    <div class="col-12 col-md-10">
                        <input name="feedback_title" type="text" class="form-control" id="feedback_title">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="feedback" class="col-12 col-md-2 col-form-label">Feedback</label>
                    <div class="col-12 col-md-10">
                        <textarea class="form-control" id="feedback" rows="4" name="feedback"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-10 offset-md-2">
                        <button type="submit" class="btn btn-primary">Submit Feedback</button>
                    </div>
                </div>

            </form><!-- End Feedback Form -->

        </div>
    </div>

</div>

{% endblock %}